nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  height: 120px;
  width: 100%;
  top: 0;
  padding: 0 1.5em;
  background-color: #4056a1;
  color: #FFFFFF;
} 

nav > span {
  font-family: 'Bungee', sans-serif;
  font-size: xx-large;
}

.subtext {
  text-align: center;
}

.subtext > p {
  margin-bottom: 5px;
}

.fa-angles-down {
  color: red;
}
