main.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e5d9c7;
}

.buttonCounter {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
}

.buttonCounter > button {
  font-size: 20px;
  background-color: #4054A1;
  color: white;
}

.new-tweet {
  width: 100%;
  margin-top: 30px;
}

.tweet-text {
  resize: none;
  outline: none;
  width: 100%;
  border-bottom-width: 3px;
  border-left-style: hidden;
  border-right-style: hidden;
  border-top-style: hidden;
  background-color: #e5d9c7;
}

.maxCount {
  color: red;
}
